body {
  font-family: 'Indie Flower', cursive;
  background-image: url("https://image.freepik.com/free-vector/dinosaurs-footprints-cartoon-seamless-pattern-white-background-wallpaper-wrapping-packing-backdrop_97231-1543.jpg")
}

.container {
  width: 90%;
  height: 80vh;
  margin: auto;
}

.header {
  text-align: center;
  padding: 8px, 0px, 24px, 0px;
  border: 1px solid black;
  background-color: white;
  padding: 16px;
  margin: auto;
  border-radius: 8px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  height: 90%;
}

.dino-menu {
  border: 1px solid black;
  background-color: white;
  width: 35%;
  padding: 16px;
  border-radius: 8px;
}

.dino-info {
  border: 1px solid black;
  background-color: white;
  width: 55%;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
} 
.dino-form-container{
  border: 1px solid black;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  text-align: center;

}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}